  <div class="background">
  <h1>Hogwarts</h1>
  </div>
<div class="container">
<table class="teacher">
  <h2>Teachers</h2>
  <ul class="teacher">
    <li *ngFor="let professor of professors">
      <div class="card-t">
      <div class="name">
        <div class="firstname">{{ professor.firstName }}</div>
        <div class="lastname">{{ professor.lastName }}</div>
        <div class="assignment" [style.background-color]="getAssignmentColor(professor.assignment)">
          {{ professor.assignment }}
        </div>
        </div>
      <div class="information">
        <div class="description">{{ professor.description }}</div>
        <div class="arrivaldate"><img src="https://www.figma.com/file/TmsEKb9rFrAQng4PdqCEll/Test-technique?type=design&node-id=3-106&mode=design&t=8wcQdrR4VnW2R3ro-4"> {{convertDateSeparator(professor.arrivalDate)}}</div>
      </div>
      </div>
    </li>
  </ul>
</table>

<table class="student">
  <h2>Students</h2>
  <ul class="student">
    <li *ngFor="let student of students">
     <div class="card-s">
      <div class="name">
        <div class="firstname">{{ student.firstName }}</div>
        <div class="lastname">{{ student.lastName }}</div>
        <div class="house" [style.background-color]="getHouseColor(student.house)">{{ student.house }}</div>
        </div>
      <div class="information">
        <div class="description">{{ student.description }}</div>
        <div class="arrivaldate"><img src="https://www.figma.com/file/TmsEKb9rFrAQng4PdqCEll/Test-technique?type=design&node-id=3-106&mode=design&t=8wcQdrR4VnW2R3ro-4"> {{calculateYearsOfService(student.arrivalDate)}}</div>
      </div>
      </div>
    </li>
  </ul>
</table>
</div>